<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AlugueVago - Página Inicial</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <!-- Include Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
  <style>
    body {
      background-color: #e6f0ff;
      margin: 0;
      padding: 0;
    }

  .dropdown-menu.right-0 {
    right: 0;
    left: auto;
  }
  
  .dropdown-menu.left-0 {
    left: 0;
    right: auto;
  }
  
  @media (max-width: 768px) {
    .dropdown-menu.left-0, .dropdown-menu.right-0 {
      right: auto;
      left: 0;
    }
  }
  

    .navbar {
      margin-bottom: 20px;
    }

    

    .home-content {
      text-align: center;
      margin-top: 50px;
    }

    .btn-primary {
      margin-top: 20px;
    }

    .profile-image {
      margin-top: 20px;
      text-align: center;
    }

    .profile-image img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

    /* Estilos para a imagem de perfil na navbar */
    .profile-image-navbar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 10px;
      margin-top: 5px;
    }

    /* Estilos para a animação do link na navbar */
    .nav-link {
      position: relative;
      display: inline-block;
      color: #ffffff;
      transition: color 0.3s;
    }
    .nav-link:hover {
      color: #fff;
    }
    .nav-link::before {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      background-color: white;
      bottom: -4px;
      left: 50%;
      transform: translateX(-50%);
      transition: width 0.3s;
    }
    .nav-link:hover::before {
      width: 100%;
    }
    .navbar {
      background-color: #4a90e2;
    }

    .bg-orange-500 {
      background-color: rgba(255, 165, 0, 0.9); 
      transition: background-color 0.3s ease; 
    }
    .brighten {
      filter: brightness(1); 
      transition: filter 0.3s ease; 
    }
    .brighten:hover {
      filter: brightness(1.1); 
    }

    .pagination {
      display: flex; 
      justify-content: center; 
      margin-top: 20px; 
      margin-bottom: 20px;
    }

    #mensagem {
      display: none;
      background-color: #ff8080;
      color: #ffffff;
      padding: 10px;
      text-align: center;
      font-size: 16px;
      margin-left: auto;
      margin-right: auto;
      max-width: 400px; 
      width: 100%; 
      z-index: 9999;
    }

    #mensagem.fade-out {
      animation: fadeOut 5s ease-in-out forwards;
    }
    
    @keyframes fadeOut {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        display: none; 
      }
    }
    

    .nav-link.dropdown-toggle.flex.items-center {
      color: white;
    }
    
    
    
    

    
    
  </style>
</head>
<body class="bg-gray-100">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-gradient-to-r from-blue-300 to-blue-500 py-2">
    <div class="container-fluid">
      <a class="text-2xl font-semibold text-white hover:text-blue-300" href="/">AlugueVago</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="/">Home</a>
          </li>
          <li class="nav-item dropdown relative">
            <a class="nav-link dropdown-toggle flex items-center" href="#" id="favoritesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ⭐ Favoritos <span id="favoritesCount" class="badge badge-pill badge-primary">0</span>
            </a>
            
            <div class="dropdown-menu hidden absolute right-0 mt-2 w-70 bg-white border rounded-md shadow-lg group-hover:block" aria-labelledby="favoritesDropdown">
              <div id="favoritesList"></div>
            </div>
          </li>
          
          <% if (userIsLoggedIn) { %>
           
            <li class="nav-item dropdown relative">
              <a class="nav-link dropdown-toggle flex items-center" href="#" id="profileDropdownToggle" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="text-white"><%= user.nomeUsuario %></span>
              </a>  
              <div class="dropdown-menu hidden absolute right-0 mt-2 w-28 bg-white border rounded-md shadow-lg group-hover:block" aria-labelledby="profileDropdownToggle">
                <a class="block px-4 py-2 text-gray-800 hover:bg-gray-100 text-decoration-none" href="/imoveis/meus-imoveis">Meus Imoveis</a>
                <a class="block px-4 py-2 text-gray-800 hover:bg-gray-100 text-decoration-none" href="/users/account-config">Configuração de Conta</a>
                <a class="block px-4 py-2 text-gray-800 hover:bg-gray-100 text-decoration-none" href="/users/logout">Deslogar</a>
              </div>
            </li>
            <div>
              <% if (user.imagemPerfil) { %>
                <img class="profile-image-navbar" src="/users/<%= user.imagemPerfil %>" alt="Imagem de Perfil" />
              <% } else { %>
                <i class="profile-image-navbar fas fa-user-circle fa-2x bg-blue-300 text-gray-500"></i>
              <% } %>
            </div>  
                      
            <% } else { %>
            <li class="nav-item">
              <a class="nav-link profile-link text-white" href="/users/login">
                <i class="fas fa-user"></i>
                Fazer Login
              </a>
              <li><a class="nav-link text-white" href="/users/cadastro">Cadastro</a></li>
            </li>
          <% } %>
          
        </ul>
      </div>
    </div>
  </nav>

  <!-- <div class="container mx-auto p-8 bg-white rounded-lg shadow-md max-w-md mt-20">
    <h1 class="text-2xl font-semibold text-center mb-6">Bem-vindo à AlugueVago</h1>
    <p class="text-center mb-8">Encontre o espaço perfeito para você alugar.</p>
    <button class="w-full bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700 transition duration-300">Ver Anúncios</button>
  </div> -->
  <div class="container mx-auto">
    <div class="sm:hidden">
      <button id="toggleMenu" class="block text-blue-500 hover:text-blue-600 focus:text-blue-600 focus:outline-none">&#9776; Filtros</button>
    </div>
    
    <div id="filtersContainer" class="hidden sm:block" >
      <div class="container mx-auto bg-blue-50 w-full border rounded-lg border-gray-300">
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 p-2">
              <div class="mb-1 px-1 flex items-center">
                  <label for="cidadeFiltro" class="text-gray-700 font-semibold w-1/3 text-center">Cidade:</label>
                  <input type="text" id="cidadeFiltro" class="form-input w-2/3 border rounded-lg border-gray-300">
              </div>
              <div class="mb-1 px-1 flex items-center">
                  <label for="estadoFiltro" class="text-gray-700 font-semibold w-1/3 text-center">Estado:</label>
                  <select id="estadoFiltro" class="form-select w-2/3 border rounded-lg border-gray-300">
                      <option value="" selected>Selecione o estado</option>
                      <option value="AC">Acre</option>
                      <option value="AL">Alagoas</option>
                      <option value="AP">Amapá</option>
                      <option value="AM">Amazonas</option>
                      <option value="BA">Bahia</option>
                      <option value="CE">Ceará</option>
                      <option value="DF">Distrito Federal</option>
                      <option value="ES">Espírito Santo</option>
                      <option value="GO">Goiás</option>
                      <option value="MA">Maranhão</option>
                      <option value="MT">Mato Grosso</option>
                      <option value="MS">Mato Grosso do Sul</option>
                      <option value="MG">Minas Gerais</option>
                      <option value="PA">Pará</option>
                      <option value="PB">Paraíba</option>
                      <option value="PR">Paraná</option>
                      <option value="PE">Pernambuco</option>
                      <option value="PI">Piauí</option>
                      <option value="RJ">Rio de Janeiro</option>
                      <option value="RN">Rio Grande do Norte</option>
                      <option value="RS">Rio Grande do Sul</option>
                      <option value="RO">Rondônia</option>
                      <option value="RR">Roraima</option>
                      <option value="SC">Santa Catarina</option>
                      <option value="SP">São Paulo</option>
                      <option value="SE">Sergipe</option>
                      <option value="TO">Tocantins</option>
                  </select>
              </div>
              <div class="mb-1 px-1 flex items-center">
                  <label for="valorFiltroInput" class="text-gray-700 font-semibold w-1/3 text-center">Faixa de Preço:</label>
                  <input type="text" id="valorFiltroInput" class="form-input w-2/3 border rounded-lg border-gray-300 text-center">
              </div>
              <div class="mb-1 px-1 flex items-center">
                  <label for="quantidadeComodosFiltro" class="text-gray-700 font-semibold w-1/3 text-center">Quantidade de Cômodos:</label>
                  <input type="number" id="quantidadeComodosFiltro" class="form-input w-2/3 border rounded-lg border-gray-300">
              </div>
              <div class="mb-1 px-1 flex items-center">
                  <label for="tipoImovelFiltro" class="text-gray-700 font-semibold w-1/3 text-center">Tipo de Imóvel:</label>
                  <select id="tipoImovelFiltro" class="form-select w-2/3 border rounded-lg border-gray-300">
                      <option value="">Qualquer</option>
                      <option value="Salão">Salão Comercial</option>
                      <option value="Casa">Casa</option>
                      <option value="Apartamento">Apartamento</option>
                      <option value="Chácara">Chácara</option>
                      <option value="Loft">Loft</option>
                      <option value="Studio">Studio</option>
                      <option value="Condomínio">Casa em Condomínio</option>
                      <option value="Quitinete">Quitinete</option>
                      <option value="Flat">Flat</option>
                  </select>
              </div>
              <div class="mb-1 px-1 flex items-center">
                  <label for="tamanhoFiltro" class="text-gray-700 font-semibold w-1/3 text-center">Tamanho (m²):</label>
                  <input type="number" id="tamanhoFiltro" class="form-input w-2/3 border rounded-lg border-gray-300 text-center">
              </div>
              <div class="mb-1 px-1 flex items-center">
                  <label for="mobiliadoFiltro" class="text-gray-700 font-semibold w-1/3 text-center">Mobiliado:</label>
                  <select id="mobiliadoFiltro" class="form-select w-2/3 border rounded-lg border-gray-300">
                      <option value="">Qualquer</option>
                      <option value="true">Sim</option>
                      <option value="false">Não</option>
                  </select>
              </div>
              <div class="mb-1 px-1 justify-end flex">
                <div class="flex w-1/2">
                  <button id="filterButton" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-1 px-2 rounded w-full ml-auto">Filtrar &#128270;</button>
                </div>
                <div class="flex w-1/2 mt-auto text-right" id="removeFiltersButtonContainer" style="display: none; margin-left: 10px;">
                  <a href="/" class="btn btn-danger btn-sm">
                    Remover Filtros ☒
                  </a>
                </div>
              </div>     
          </div>
      </div>
    </div>

    <br>
    <div id="mensagem" style="display: none;"></div>
    <br>

    <div class="container imoveis-container" id="imoveisContainer">
      <div class="row">
        <% imoveis.forEach(imovel => { %>
          <div class="col-lg-3 col-md-6 col-sm-12 imovel">
            <div class="border border-gray-200 rounded-lg p-3 mb-4 shadow-lg">
              <div class="relative">
                <% if (imovel.photos && imovel.photos.length > 0) { %>
                  <div class="group relative">
                    <span class="bg-yellow-300 px-2 py-1 rounded text-white font-bold"><%= 'Cód. ' + imovel.id %></span>
                    <a href="/imoveis/informacoes-imovel/<%= imovel.id %>">
                      <img src="/<%= imovel.photos[0].url %>" alt="Imagem do Imóvel" class="w-full h-40 rounded-lg object-cover shadow-md brighten transform scale-100 transition-transform duration-300">
                    </a>
                    <% if (!imovel.statusNegociacao) { %>
                      <div class="absolute bottom-0 left-0 w-full h-8 bg-orange-500 bg-opacity-50 text-white opacity-100 transition-opacity duration-300 group-hover:opacity-0 flex items-center justify-center rounded-lg">
                        Em negociação
                      </div>
                    <% } %>
                  </div>
                <% } else { %>
                  <div class="w-full h-32 bg-gray-200 rounded-lg shadow-md"></div>
                <% } %>
              </div>
              <a href="/imoveis/informacoes-imovel/<%= imovel.id %>" class="text-lg font-semibold mt-4 mb-4 text-decoration-none text-dark" style="max-height: 3.6rem; overflow: hidden;">
                <%= imovel.titulo %>
              </a>
              <p class="mb-2 text-sm" style="max-height: 2.5rem; overflow: hidden;"><strong>Valor:</strong> R$ <%= imovel.valor %></p>
              <p class="mb-2 text-sm" style="max-height: 2.5rem; overflow: hidden;"><strong>Localização:</strong> <%= imovel.enderecoRua %>, <%= imovel.enderecoNumero %>, <%= imovel.enderecoCidade %></p>
              <p class="mb-2 text-sm"><strong>Mobiliado:</strong> <%= imovel.mobiliado ? 'Sim' : 'Não' %></p>
            </div>
          </div>
        <% }); %>
      </div>

      <div class="pagination text-center">
        <% const maxLinksToShow = 5; /* Número máximo de links de página a serem mostrados */ %>
        
        <% const halfMaxLinksToShow = Math.floor(maxLinksToShow / 2); %>
        
        <% let startPage = Math.max(1, currentPage - halfMaxLinksToShow); %>
        <% let endPage = Math.min(totalPages, startPage + maxLinksToShow - 1); %>
        
        <% if (endPage - startPage < maxLinksToShow - 1) {
          startPage = Math.max(1, endPage - maxLinksToShow + 1);
        } %>
      
        <% if (startPage > 1) { %>
          <a class="page-link" href="/1">1</a>
          <% if (startPage > 2) { %>
            <span>...</span>
          <% } %>
        <% } %>
        
        <% for (let i = startPage; i <= endPage; i++) { %>
          <a class="page-link" href="/<%= i %>"><%= i %></a>
        <% } %>
        
        <% if (endPage < totalPages) { %>
          <% if (endPage < totalPages - 1) { %>
            <span>...</span>
          <% } %>
          <a class="page-link" href="/<%= totalPages %>"><%= totalPages %></a>
        <% } %>
      </div>
      
    </div>
  </div>


  <!-- Scripts JavaScript -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>



  <script>
    const toggleButton = document.getElementById('toggleMenu');
    const filtersContainer = document.getElementById('filtersContainer');
  
    toggleButton.addEventListener('click', function() {
      if (filtersContainer.style.display === 'block') {
        filtersContainer.style.display = 'none';
      } else {
        filtersContainer.style.display = 'block';
      }
    });
  </script>
  

  <script>
    function updateURLWithFiltersAndPage(filters, page) {
      const searchParams = new URLSearchParams();
    
      if (filters.enderecoCidade) searchParams.set('cidade', filters.enderecoCidade);
      if (filters.estadoNome) searchParams.set('estado', filters.estadoNome);
      if (filters.valor) searchParams.set('valor', filters.valor);
      if (filters.mobiliado) searchParams.set('mobiliado', filters.mobiliado);
      if (filters.tipoImovel) searchParams.set('tipoImovel', filters.tipoImovel);
      if (filters.tamanho) searchParams.set('tamanho', filters.tamanho);
      if (filters.quantidadeComodos) searchParams.set('quantidadeComodos', filters.quantidadeComodos);
    
      searchParams.set('page', page);    
      const newURL = `${window.location.pathname}?${searchParams.toString()}`;
      window.history.replaceState({ path: newURL }, '', newURL);
    }
  
    function fetchImoveis(page) {
      const cidade = document.getElementById('cidadeFiltro').value;
      const estado = document.getElementById('estadoFiltro').value;
      const valor = document.getElementById('valorFiltroInput').value;
      const mobiliado = document.getElementById('mobiliadoFiltro').value;
      const tipoImovel = document.getElementById('tipoImovelFiltro').value;
      const tamanho = document.getElementById('tamanhoFiltro').value;
      const quantidadeComodos = document.getElementById('quantidadeComodosFiltro').value;
      const filters = {};
    
      if (cidade.trim() !== '') filters.enderecoCidade = cidade;
      if (estado.trim() !== '') filters.estadoNome = estado;
      if (valor.trim() !== '') filters.valor = valor;
      if (mobiliado.trim() !== '') filters.mobiliado = mobiliado;
      if (tipoImovel.trim() !== '') filters.tipoImovel = tipoImovel;
      if (tamanho.trim() !== ''){
        console.log("\n\n\n\n\nTamanho: ", typeof(tamanho))
        const tamanhoComoNumero = parseFloat(tamanho, 10);
        if (!isNaN(tamanhoComoNumero)) {
          filters.tamanho = tamanhoComoNumero;
        } else {
          console.log("A string de tamanho não é um número válido.");
        }
      }
      console.log("\n\n\n\n\nTamanho: ", typeof(tamanho)) 
      if (quantidadeComodos.trim() !== '') filters.quantidadeComodos = quantidadeComodos;
    
      fetch(`/filter-imoveis?page=${page}`, {
        method: 'POST',
        body: JSON.stringify({ ...filters, page }),
        headers: {
          'Content-Type': 'application/json',
        },
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.imoveis && data.imoveis.length > 0) {
            document.getElementById('mensagem').textContent = '';
            document.getElementById('mensagem').style.display = 'none';
            const imoveisContainer = document.getElementById('imoveisContainer');
  
            const imoveisWrapper = document.createElement('div');
            imoveisWrapper.className = 'row';
  
            data.imoveis.forEach((imovel) => {
              const imovelElement = document.createElement('div');
              imovelElement.className = 'col-lg-3 col-md-6 col-sm-12 imovel';
  
              imovelElement.innerHTML = `
                <div class="border border-gray-200 rounded-lg p-3 mb-4 shadow-lg">
                  <div class="relative">
                    ${imovel.photos && imovel.photos.length > 0 ? `
                      <div class="group relative">
                        <span class="bg-yellow-300 px-2 py-1 rounded text-white font-bold">Cód. ${imovel.id}</span>
                        <a href="/imoveis/informacoes-imovel/${imovel.id}">
                          <img src="${imovel.photos[0].url}" alt="Imagem do Imóvel" class="w-full h-40 rounded-lg object-cover shadow-md brighten transform scale-100 transition-transform duration-300">
                        </a>
                        ${!imovel.statusNegociacao ? `
                          <div class="absolute bottom-0 left-0 w-full h-8 bg-orange-500 bg-opacity-50 text-white opacity-100 transition-opacity duration-300 group-hover:opacity-0 flex items-center justify-center rounded-lg">
                            Em negociação
                          </div>
                        ` : ''}
                      </div>
                    ` : `
                      <div class="w-full h-32 bg-gray-200 rounded-lg shadow-md"></div>
                    `}
                  </div>
                  <a href="/imoveis/informacoes-imovel/${imovel.id}" class="text-lg font-semibold mt-4 mb-4 text-decoration-none text-dark" style="max-height: 3.6rem; overflow: hidden;">
                    ${imovel.titulo}
                  </a>
                  <p class="mb-2 text-sm" style="max-height: 2.5rem; overflow: hidden;"><strong>Valor:</strong> R$ ${imovel.valor}</p>
                  <p class="mb-2 text-sm" style="max-height: 2.5rem; overflow: hidden;"><strong>Localização:</strong> ${imovel.enderecoRua}, ${imovel.enderecoNumero}, ${imovel.enderecoCidade}</p>
                  <p class="mb-2 text-sm"><strong>Mobiliado:</strong> ${imovel.mobiliado ? 'Sim' : 'Não'}</p>
                </div>
              `;
  
              imoveisWrapper.appendChild(imovelElement);
            });
  
            function createPageLink(pageNumber, isActive, filters) {
              const searchParams = new URLSearchParams();
              
              if (filters.enderecoCidade) searchParams.set('cidade', filters.enderecoCidade);
              if (filters.estadoNome) searchParams.set('estado', filters.estadoNome);
              if (filters.valor) searchParams.set('valor', filters.valor);
              if (filters.mobiliado) searchParams.set('mobiliado', filters.mobiliado);
              if (filters.tipoImovel) searchParams.set('tipoImovel', filters.tipoImovel);
              if (filters.tamanho) searchParams.set('tamanho', filters.tamanho);
              if (filters.quantidadeComodos) searchParams.set('quantidadeComodos', filters.quantidadeComodos);
              
              searchParams.set('page', pageNumber);
              const pageLink = document.createElement('a');
              pageLink.className = isActive ? 'page-link active' : 'page-link';
              const currentPath = window.location.pathname;
              pageLink.href = currentPath + '?' + searchParams.toString();
              
              pageLink.textContent = pageNumber;
              return pageLink;
            }
            
            const maxLinksToShow = 5;
            const currentPage = data.currentPage;
            const totalPages = data.totalPages;
            let startPage = Math.max(1, currentPage - Math.floor(maxLinksToShow / 2));
            let endPage = Math.min(totalPages, startPage + maxLinksToShow - 1);

            if (endPage - startPage < maxLinksToShow - 1) {
              startPage = Math.max(1, endPage - maxLinksToShow + 1);
            }

            const pageLinks = [];

            if (startPage > 1) {
              pageLinks.push(createPageLink(1, false, filters));
              if (startPage > 2) {
                const ellipsis = document.createElement('span');
                ellipsis.textContent = '...';
                pageLinks.push(ellipsis);
              }
            }

            for (let i = startPage; i <= endPage; i++) {
              const isActive = i === currentPage;
              pageLinks.push(createPageLink(i, isActive, filters));
            }

            if (endPage < totalPages) {
              if (endPage < totalPages - 1) {
                const ellipsis = document.createElement('span');
                ellipsis.textContent = '...';
                pageLinks.push(ellipsis);
              }
              pageLinks.push(createPageLink(totalPages, false, filters));
            }

            const paginationContainer = document.createElement('div');
            paginationContainer.className = 'pagination text-center';
            pageLinks.forEach((pageLink) => {
              paginationContainer.appendChild(pageLink);
            });
  
            imoveisContainer.innerHTML = '';
            imoveisContainer.appendChild(imoveisWrapper);
            imoveisContainer.appendChild(paginationContainer);
          }
          else {
            const mensagemElement = document.getElementById('mensagem');
            mensagemElement.textContent = "Nenhum Imóvel com essa descrição";
            mensagemElement.style.display = 'block';
          }
  
          updateURLWithFiltersAndPage(filters, page);
        })
        .catch((error) => {
          console.error('Erro ao enviar a solicitação:', error);
        });
    }
      
    filterButton.addEventListener('click', () => {
      const cidade = document.getElementById('cidadeFiltro').value;
      const estado = document.getElementById('estadoFiltro').value;
      const valor = document.getElementById('valorFiltroInput').value;
      const mobiliado = document.getElementById('mobiliadoFiltro').value;
      const tipoImovel = document.getElementById('tipoImovelFiltro').value;
      const tamanho = document.getElementById('tamanhoFiltro').value;
      const quantidadeComodos = document.getElementById('quantidadeComodosFiltro').value;
  
      const filters = {};
      if (cidade) filters.enderecoCidade = cidade;
      if (estado) filters.estadoNome = estado;
      if (valor) filters.valor = valor;
      if (mobiliado) filters.mobiliado = mobiliado;
      if (tipoImovel) filters.tipoImovel = tipoImovel;
      if (tamanho) filters.tamanho = tamanho;
      if (quantidadeComodos) filters.quantidadeComodos = quantidadeComodos;  
      fetchImoveis(1); 
    });
  
    window.addEventListener('load', () => {
      const searchParams = new URLSearchParams(window.location.search);
      const page = searchParams.get('page') || 1;
      document.getElementById('cidadeFiltro').value = searchParams.get('cidade') || '';
      document.getElementById('estadoFiltro').value = searchParams.get('estado') || '';
      document.getElementById('valorFiltroInput').value = searchParams.get('valor') || '';
      document.getElementById('mobiliadoFiltro').value = searchParams.get('mobiliado') || '';
      document.getElementById('tipoImovelFiltro').value = searchParams.get('tipoImovel') || '';
      document.getElementById('tamanhoFiltro').value = searchParams.get('tamanho') || '';
      document.getElementById('quantidadeComodosFiltro').value = searchParams.get('quantidadeComodos') || '';
      fetchImoveis(page);
    });
    const paginationLinks = document.querySelectorAll('.page-link');
    paginationLinks.forEach((link) => {
      link.addEventListener('click', (event) => {
        event.preventDefault();
        const page = new URLSearchParams(link.search).get('page'); 
        fetchImoveis(page); 
      });
    });

    function checkFilters() {
      const cidade = document.getElementById('cidadeFiltro').value;
      const estado = document.getElementById('estadoFiltro').value;
      const valor = document.getElementById('valorFiltroInput').value;
      const mobiliado = document.getElementById('mobiliadoFiltro').value;
      const tipoImovel = document.getElementById('tipoImovelFiltro').value;
      const tamanho = document.getElementById('tamanhoFiltro').value;
      const quantidadeComodos = document.getElementById('quantidadeComodosFiltro').value;
  
      const removeFiltersButtonContainer = document.getElementById('removeFiltersButtonContainer');
  
      if (
        cidade.trim() !== '' ||
        estado.trim() !== '' ||
        valor.trim() !== '' ||
        mobiliado.trim() !== '' ||
        tipoImovel.trim() !== '' ||
        tamanho.trim() !== '' ||
        quantidadeComodos.trim() !== ''
      ) {
        removeFiltersButtonContainer.style.display = 'block'; 
      } else {
        removeFiltersButtonContainer.style.display = 'none';
      }
    }
    document.getElementById('filterButton').addEventListener('click', checkFilters);
    window.addEventListener('load', checkFilters);

  </script>

  <script>
    window.addEventListener('load', () => {
      populateFavoritesList();
    });
  </script>


  <script>
      
    const favoritesList = document.getElementById('favoritesList');

    async function getImovelData(imovelId) {
      try {
        const response = await fetch(`/imoveis/${imovelId}/relevant-fields`);
        if (response.ok) {
          const data = await response.json();
          const relevantData = {
            id: data.id,
            enderecoRua: data.enderecoRua,
            enderecoNumero: data.enderecoNumero,
            enderecoBairro: data.enderecoBairro,
            enderecoCidade: data.enderecoCidade,
            valor: data.valor
          };
          return relevantData;
        } else {
          console.error('Failed to fetch property data');
          return null;
        }
      } catch (error) {
        console.error('Error fetching property data:', error);
        return null;
      }
    }
    
    async function populateFavoritesList() {
      favoritesList.innerHTML = '';
    
      let hasFavoritedProperties = false;
      let favoritesCount = 0;
    
      for (let i = 0; i < localStorage.length; i++) {
        const key = localStorage.key(i);
        if (key.startsWith('liked_') && localStorage.getItem(key) === 'true') {
          const imovelId = key.substring(6);
          const imovel = await getImovelData(imovelId);
          if (imovel) {
            hasFavoritedProperties = true;
            favoritesCount++;
    
            const listItem = document.createElement('div');
            listItem.className = 'dropdown-item';
            const link = document.createElement('a');
            link.href = `/imoveis/informacoes-imovel/${imovelId}`;
    

    
            link.innerHTML = `
       
              <p><strong>Endereço:</strong> ${imovel.enderecoRua}, ${imovel.enderecoNumero}, ${imovel.enderecoBairro}, ${imovel.enderecoCidade}</p>
              <p><strong>Valor:</strong> R$ ${imovel.valor}</p>
              <hr>
            `;
            listItem.appendChild(link);
            favoritesList.appendChild(listItem);
          }
        }
      }
    
      const favoritesCountSpan = document.getElementById('favoritesCount');
      favoritesCountSpan.textContent = favoritesCount;
    
      if (!hasFavoritedProperties) {
        const noFavoritesMessage = document.createElement('div');
        noFavoritesMessage.className = 'dropdown-item';
        noFavoritesMessage.innerText = 'Nenhum imóvel curtido ainda ( ´•︵•` )';
        favoritesList.appendChild(noFavoritesMessage);
      }
    }
    
    const favoritesDropdown = document.getElementById('favoritesDropdown');
    favoritesDropdown.addEventListener('click', populateFavoritesList);
    

  </script>


</body>
</html>
